{% extends 'base.html' %}
{% load static %}

{% block title %}
    Каталог
{% endblock %}

{% block content %}

<main>
    <section class="container">
            <div class="text-center row pt-3 ">
                <h2 class="fw-light">Каталог товаров</h2>
            </div>
            <div class="pb-3">
                <a href="" class="btn btn-dark">Добавить</a>
            </div>
    </section>

    <div class="album pb-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for item in clothes %}

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/static{{ item.image_path }}" class="card-img-top" alt="" width="100%" height="100%">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-inline-flex">
                                        <form action="" method="get">
                                            <button type="submit" class="btn btn-sm btn-outline-dark">Изменить</button>
                                        </form>
                                        <form action="" method="post">
                                            <button type="submit" class="btn btn-sm btn-outline-danger ms-1">Удалить</button>
                                        </form>
                                    </div>
                                <small class="fw-bold">{{ item.price }} р.</small>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
</main>

{% endblock %}
